<footer>
    <p id="bottom-text"> © 2025 - Web4all - Tous droits réservés. |
        <a href="{{ url('mentions-legales') }}">Mentions légales</a> |
        <a href="{{ url('politique-confidentialite') }}">Politique de confidentialité</a> |
        <a href="{{ url('conditions-utilisation') }}">Conditions d'utilisation</a>
    </p>
</footer>