body{
    background-color: azure;
}

.title{
    color: orange;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size:250%;
}

nav{
    background-color: black;
}

nav ul{
    color:white
}