
/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 80vh;
    justify-content: center;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Main container styles */
.container {
    min-height: 96vh;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Main Content Layout */
.main-content {
    display: flex;
    border-radius: 5px;
    border-color: #3F51B5;
}


/* Navbar design */
.logo {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    flex: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #3F51B5;
    color: white;
    width: 100%;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    flex: 1;
}

.nav-left {
    justify-content: flex-start;
    gap: 20px;
}

.nav-right {
    justify-content: flex-end;
    gap: 20px;
}

.nav-left .nav-item:first-child:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.nav-left .nav-item:last-child:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.nav-right .nav-item:first-child:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.nav-right .nav-item:last-child{
    background-color: #757DE8;
    width: 50%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.nav-right .nav-item:last-child:hover{
    transform: scale(1.05);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: opacity 0.3s;
    white-space: nowrap; /* Empêche le texte de se couper sur plusieurs lignes */
}

.nav-item:last-child {
    font-size: 1rem; /* Réduit la taille du texte pour "Se déconnecter" */
    padding: 1px 1px; /* Réduit légèrement le padding pour le rendre plus petit */
}

.nav-item:hover {
    opacity: 0.8;
}


/* Filter section styles */
.filters {
    width: 20%;
    padding: 20px;
    background-color: #DEDEFF;
    border-color: #3F51B5;
    shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
    border-right: 2px solid #3F51B5;
}

.filters h3{
    text-align: center;
    color: #3F51B5;
    margin-bottom: 20px;
    font-size: 30px;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section h4 {
    margin-bottom: 10px;
    color: #3F51B5;
}

.radio-group, .checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-min, .input-max, .input-location, .input-skills {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.apply-btn {
    width: 100%;
    padding: 10px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.apply-btn:hover {
    transform: scale(1.05);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}


/* Main section with cards styles */
.main-section {
    flex-grow: 1;
    padding: 20px;
}

/* Tabs bar styles */
.tabs {
    position: relative;
    display: flex;
    gap: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    color: #3F51B5;
    border: 1px solid black;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.tabs .active {
    border: 0.5px solid black;
}

.tabs::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #DEDEFF;
    border-radius: 10px;
    left: 50%;
    transition: left 0.3s ease-in-out;
    z-index: 0;
}

.tabs button {
    flex: 1;
    padding: 8px 15px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: #3F51B5;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease-in-out;
}

.tabs:hover::before {
    left: 0%;
}

.tabs button.active {
    color: #3F51B5;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
    border: none;
}

.tabs button:first-child:hover {
    color: #3F51B5;
}


/* Search bar styles */
.search-bar {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
    text-align: right;
    cursor: pointer;
}

.search-btn {
    cursor: pointer;
}

.search-container {
    position: relative;
    display: flex;
    margin-left: auto;
}

.search-input {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #d1d5db;
    padding: 12px 20px;
    border-radius: 12px;
    width: 220px;
    transition: all 0.3s ease-in-out;
    outline: none;
    justify-content: flex-end;
}

.search-input:focus {
    border-width: 2px;
    width: 250px;
}


/* Footer styles */
footer {
    background-color: #3F51B5;
    color: white;
    font-size: 0.9em;
    padding: 0.625rem;
    position: static;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    text-align : center;
    position:relative;
}

footer a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease-out;
}

footer a:hover::after {
    width: 100%;
}



/* Profile page styles */
.profile-container {
    max-width: 65%;
    margin: 2% auto;
    background-color: white;
    border-radius: 15px;
    border-width: 1px;
    padding: 20px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
}


/* Profile header styles */
.profile-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.back-button {
    margin-bottom: 20px;
    margin-left: 5px;
}

.back-button a {
    color: #4056b4;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.arrow {
    margin-right: 5px;
}

.profile-title {
    color: #4056b4;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}


/* In card styles */
.profile-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.profile-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.user-card {
    background-color: #4056b4;
    color: white;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.username, .lastname {
    font-size: 30px;
    margin-bottom: 5px;
}

.email {
    font-size: 20px;
    margin-top: 15px;
    word-break: break-all;
}

.skills-section {
    flex: 2;
    text-align: center;
}

.skills-title {
    color: #757DE8;
    margin-bottom: 15px;
    font-size: 22px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.skill-badge {
    background-color: #757DE8;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.add-skill-button {
    background-color: #f4f4f4;
    color: black;
    border-width: 0.5px;
    border-radius: 25px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
}

.add-skill-button:hover {
    transform: scale(1.01);
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}



/* WishList page styles */
.main-title-wishlist {
    margin-top: 40px;
    color: #3b5cbc;
    /* Center the text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.sub-title-wishlist {
    margin-top: 28px;
    font-size: 28px;
    color: rgba(59, 92, 188, 0.7);
    /* Center the text */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Styles for images in background */
.bulle2-1{
    position:fixed;
    width: 4%;
    top: 15%;
    right: 20%;
}

.bulle2-2{
    position:fixed;
    width: 10%;
    top: 55%;
    left: 8%;
}


.bulle3-1{
    position:fixed;
    width: 8%;
    right: 6%;
    top: 75%;
}

.bulle3-2{
    position:fixed;
    width: 4%;
    left: 18%;
    top: 68%;
}

.bulle3-3{
    position:fixed;
    width: 8%;
    right: 12%;
    top: 15%;
}


/* Burger menu styles */
.burger-menu {
    display: none;
    font-size: 25px;
    color: white;
    background: none;
    border: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 10px;
}


/* Styles for slide menu */
.slide-menu {
    position: fixed;
    top: 0;
    left: -200%;
    width: 75%;
    box-shadow: 10em 0 10em rgba(21, 21, 21, 0.50);
    height: 100vh;
    background: white;
    border-radius: 0px 20px 20px 0px;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50%;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

.slide-menu .menu-item {
    color: black;
    border-bottom: 2px solid #757DE8;
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 15px;
    padding: 5px;
    display: block;
}

.menu-item-logout {
    color: #FF7779;
    text-decoration: none;
    font-size: 26px;
    padding: 5px;
    display: block;
    position: absolute;
    align-items: flex-end;
    white-space: nowrap;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.close-menu {
    background: none;
    border: none;
    color: #757DE8;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

/* Menu ouvert */
.slide-menu.open {
    left: 0;
}

/* Styles for filter-menu */
.filter-menu {
    display: none;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.filter-menu img {
    margin-right: 20px;
    margin-top: 3px;
    width: 20px; /* Ajustez cette valeur selon la taille souhaitée */
    height: 20px; /* Gardez la même valeur que width pour conserver les proportions */
    vertical-align: middle;
}

/* Styles pour le slide-filter */
.slide-filter {
    position: fixed;
    top: 0;
    left: -200%;
    width: 85%;
    box-shadow: 10em 0 10em rgba(21, 21, 21, 0.50);
    height: 100vh;
    background: white;
    border-radius: 0px 20px 20px 0px;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

.slide-filter-content {
    margin-top: 25px;
}

.slide-filter-section{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.slide-radio-group {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    padding: 10px;
    color: #3F51B5;
}

.slide-filter h3 {
    text-align: center;
    color: #3F51B5;
    font-size: 30px;
    margin-bottom: 50px;

}

.slide-filter h4 {
    text-align: start;
    color: #3F51B5;
    font-size: 14px;
}

.slide-apply-btn {
    margin-top: 20px;
    margin-left: 20px;
    justify-content: center;
    display: flex;
    width: 88%;
    padding: 10px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.close-filter {
    background: none;
    border: none;
    color: #3F51B5;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

/* Menu ouvert */
.slide-filter.open {
    left: 0;
}

.slide-checkbox-item{
    margin-top: 7px;
}

.slide-checkbox-group {
    margin-top: 5px;
    color: #3F51B5;
    display: flex;
    flex-direction: column;
}


/* Responsive design -> Media Queries */
@media (max-width: 768px) {

    .profile-container{
        max-width: 90%;
    }

    .profile-content {
        flex-direction: column;
    }

    .nav-item{
        display: none;
    }

    .email {
        font-size: 16px;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);

    }

    .logo {
        font-size: 1.5rem;
        display: inline-block;
        position: absolute;
    }

    .filters {
        display: none;
    }

    .slide-filter-container {
        display: flex;
    }

    .search-bar {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .search-container {
        width: 100%;
        margin: 10px 0;
    }

    .tabs {
        width: 100%;
        justify-content: space-around;
    }

    .tabs button {
        flex: 1;
        text-align: center;
    }

    .back-design{
        display: none;
    }

    .main-title-wishlist {
        margin-top: 100px;
        font-size: 20px;
        display: flex;
    }

    .sub-title-wishlist {
        font-size: 18px;
    }

    .burger-menu {
        display: block;
    }

    .slide-menu{
        display: flex;
    }

    .filter-menu{
        display: block;
    }

    .slide-filter{
        display: flex;
    }
}
