
/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background: #f8f8f8;
}


.titre {
    font-size: 2.7em;
    color: #3F51B5;
    position: absolute;
    font-weight: bold;
    top: 225px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/* Navbar design */
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #3F51B5;
    color: white;
    width: 100%;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left {
    margin-left: 30px;
    justify-content: flex-start;
    gap: 20px;
}

.nav-right {
    justify-content: flex-end;
    margin-left: auto;
    width: 40%;
    gap: 20px;
}

.nav-left .nav-item:first-child:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.nav-left .nav-item:last-child:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.nav-right .nav-item:first-child:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.nav-right .nav-item:last-child{
    background-color: #757DE8;
    width: 50%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

.nav-right .nav-item:last-child:hover{
    transform: scale(1.05);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: opacity 0.3s;
    white-space: nowrap; /* Empêche le texte de se couper sur plusieurs lignes */
}

.nav-item:last-child {
    font-size: 1rem; /* Réduit la taille du texte pour "Se déconnecter" */
    padding: 1px 1px; /* Réduit légèrement le padding pour le rendre plus petit */
}

.nav-item:hover {
    opacity: 0.8;
}

/* Burger menu styles */
.burger-menu {
    display: none;
    font-size: 25px;
    color: white;
    background: none;
    border: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 0px;
}

/* Styles for slide menu */
.slide-menu {
    position: fixed;
    top: 0;
    left: -200%;
    width: 75%;
    box-shadow: 10em 0 10em rgba(21, 21, 21, 0.50);
    height: 100vh;
    background: white;
    border-radius: 0px 20px 20px 0px;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50%;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

.slide-menu .menu-item {
    color: black;
    border-bottom: 2px solid #757DE8;
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 15px;
    padding: 5px;
    display: block;
}

.menu-item-logout {
    color: #FF7779;
    text-decoration: none;
    font-size: 26px;
    padding: 5px;
    display: block;
    position: absolute;
    align-items: flex-end;
    white-space: nowrap;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.close-menu {
    background: none;
    border: none;
    color: #757DE8;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

/* Menu ouvert */
.slide-menu.open {
    left: 0;
}

/* Styles for filter-menu */
.logout-icon {
    display: none;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.logout-icon img {
    margin-right: 10px;
    margin-top: 3px;
    width: 30px; /* Ajustez cette valeur selon la taille souhaitée */
    height: 30px; /* Gardez la même valeur que width pour conserver les proportions */
    vertical-align: middle;
}

/* Styles for filter-menu */
.filter-menu {
    display: none;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.filter-menu img {
    margin-right: 20px;
    margin-top: 3px;
    width: 20px; /* Ajustez cette valeur selon la taille souhaitée */
    height: 20px; /* Gardez la même valeur que width pour conserver les proportions */
    vertical-align: middle;
}



/* Styles for images in background  */
.arc-en-ciel {
    position: fixed;
    left: -0.1%;
    bottom : 0%;
    width: 15%;
    height: auto;
    margin: 0;
    padding: 0;
    transform: rotate(180deg);
}

.arc-en-ciel2 {
    position: fixed;
    width: 8%;
    height: auto;
    right: 0;
    top: 20%;
    transform: rotate(180deg);
}

.bulle1 {
    position: fixed;
    width: 20%;
    height: auto;
    top: 17%;
    left: 6%;
}

.bulle2 {
    position: fixed;
    width: 8%;
    right: 14%;
    top: 14%;
}

.bulle3 {
    position: fixed;
    width: 10%;
    height: auto;
    right: 30%;
    top: 75%;
}

.bulle4 {
    position: fixed;
    width: 15%;
    right: 5%;
    top: 65%;
}


.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 325px;
}

.block {
    padding: 10px;
    background-color: #3F51B5;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.5rem;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    height: 90px;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
}

.block:hover {
    transform: scale(1.05); /* Effet d'agrandissement au survol */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Form styles */
.email-form input,
.password-form input {
    margin-bottom: 1rem;
    width: 30%;
    padding: 12px;
    border: 2px solid #3F51B5;
    border-radius: 8px;
    font-size: 1rem;
    color: #2d3748;
    background-color: #ffffff;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.email-form input:focus,
.password-form input:focus {
    border-color: #667eea;
    outline: none;
    box-shadow: 0 0 0 1px #3F51B5;
}


/* Footer styles */
footer {
    background-color: #3F51B5;
    color: white;
    font-size: 0.9em;
    padding: 0.625rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    position: relative;
}

footer a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease-out;
}

footer a:hover::after {
    width: 100%;
}




/* Main section with cards styles */
.main-section {
    display: flex;
    flex-grow: 1;
    padding: 20px;
}

/* Filter section styles */
.filters {
    width: 25%;
    padding: 20px;
    background-color: #DEDEFF;
    border-color: #3F51B5;
    shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
    border-right: 2px solid #3F51B5;
}

.filters h3{
    text-align: center;
    color: #3F51B5;
    margin-top: 0px;
    font-size: 30px;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section h4 {
    margin-bottom: 10px;
    color: #3F51B5;
    text-align: left;
    font-size: 20px;
}

.filter-section h5 {
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
}

.radio-group, .checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}

.input-min, .input-max  {
    width: 30%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.input-location, .input-skills {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.apply-btn {
    width: 100%;
    padding: 10px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s ease;
}

.apply-btn:hover {
    transform: scale(1.05);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

.apply-btn:active {
    transform: scale(0.95);
}

/* Styles pour le slide-filter */
.slide-filter {
    position: fixed;
    top: 0;
    left: -200%;
    width: auto;
    box-shadow: 10em 0 10em rgba(21, 21, 21, 0.50);
    height: 100vh;
    background: white;
    border-radius: 0px 20px 20px 0px;
    color: white;
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

.slide-filter-content {
    margin-top: 40px;
}

.slide-filter-section{
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 20px;
}

.slide-radio-group {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    color: #3F51B5 ;
}

.slide-filter h3 {
    text-align: center;
    color: #3F51B5;
    font-size: 30px;
    margin-bottom: 30px;

}

.slide-filter h4 {
    text-align: start;
    color: #3F51B5;
    font-size: 14px;
}

.slide-filter h5 {
    text-align: start;
    color: #3F51B5;
    font-size: 12px;
}

.slide-input-min, .slide-input-max  {
    width: 20%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.slide-apply-btn {
    margin-top: 20px;
    margin-left: 20px;
    justify-content: center;
    display: flex;
    width: 80%;
    padding: 10px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.close-filter {
    background: none;
    border: none;
    color: #3F51B5;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

/* Menu ouvert */
.slide-filter.open {
    left: 0;
}

.slide-checkbox-item{
    margin-top: 7px;
}

.slide-checkbox-group {
    margin-top: 5px;
    color: #3F51B5;
    display: flex;
    flex-direction: column;
}



/* Responsive design -> Media Queries */
@media (max-width: 768px) {
    .arc-en-ciel,
    .arc-en-ciel2,
    .bulle1,
    .bulle2,
    .bulle3,
    .bulle4 {
        display: none;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Assure que le body prend toute la hauteur de l’écran */
        box-sizing: border-box; /* Pour éviter des surprises avec padding/margin */
    }

    main {
        flex: 1;
    }

    footer {
        position: relative;
        margin-top: auto;
        padding: 0.5rem;
        width: 100%;
        box-sizing: border-box;
    }

    .titre {
        font-size: 2em;
        top: 175px;
        width: 100%;
    }

    .slogan {
        font-size: 1.5em;
    }

    .submit-btn {
        width: 80%;
        padding: 0.75rem;
        font-size: 1rem;
    }

    .btn-connexion {
        padding: 0.75rem 4rem;
        font-size: 1em;
    }

    .email-form input,
    .password-form input {
        width: 80%;
    }

    .profile-container{
        max-width: 90%;
    }

    .profile-content {
        flex-direction: column;
    }

    .nav-item{
        display: none;
    }

    .email {
        font-size: 16px;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);

    }

    .logo {
        font-size: 1.5rem;
        display: inline-block;
        position: absolute;
    }

    nav {
        padding: 30px;
    }

    .filters {
        display: none;
    }

    .search-bar {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .search-container {
        width: 100%;
        margin: 10px 0;
    }

    .tabs {
        width: 100%;
        justify-content: space-around;
    }

    .tabs button {
        flex: 1;
        text-align: center;
    }

    .back-design{
        display: none;
    }

    .main-title-wishlist {
        margin-top: 100px;
        font-size: 20px;
        display: flex;
    }

    .sub-title-wishlist {
        font-size: 18px;
    }

    .burger-menu {
        display: block;
    }

    .slide-menu{
        display: flex;
    }

    .filter-menu{
        display: block;
    }

    .slide-filter{
        display: flex;
    }

    .card-header{
        flex-direction: column;
    }

    .card{
        margin: 0px;
        width: 100%;
    }

    .tags {
        margin-top: 15px;
        grid-template-columns: repeat(2, 1fr);
    }

    .main-content {
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
    }

    .logout-icon {
        display: block;
    }
}

/* add media query */
@media (max-width: 325px) {
    .slide-filter {
        width: 80%;
    }
}